/*hide tabs from the main content area since we have a block rendering them*/
ul.tabs {
  display:none;
}
/* left side blocks */
#regions_elms_navigation_left {
  width:200px;
  top:50px;
  z-index:100;
  left:-180px;
  float:left;
  position:fixed;
  padding:0px;
  margin:0px;
  text-align:left;
  font-size:12px;
  background-color:#009;
  color:#ccc;
}
#regions_elms_navigation_left .regions_pre_block_container {
 position:static;
 height: 20px;
 width: 20px;
 background-repeat:no-repeat;
 background-position:center;
 display:block;
 float:right;
 cursor:pointer;
}
#regions_elms_navigation_left li {
  list-style-type: none;
  list-style-image: none;
  padding: 2px 0px 2px 10px;
  clear: both;
  height:20px;
}
#regions_elms_navigation_left li:hover {
  background-color:#333;
}
#regions_elms_navigation_left li a {
  color:#ccc; !important;
  text-decoration:none;
  clear: both;
  float:left;
  height:20px;
  width:100%;
}
#regions_elms_navigation_left .regions_block_title {
  font-size:16px;
  font-weight:bold;
  text-align:left;
}

#regions_elms_navigation_left .regions_block {
 padding:10px 0px 10px 10px;	
}
/* colors for the blocks on the left */
#regions_elms_navigation_left .regions_1 {
  background-image:url(images/sidebarbgtop.png);
  background-repeat:repeat-y;
}
#regions_elms_navigation_left .regions_2 {
  background-image:url(images/sidebarbgmid.png);
  background-repeat:repeat-y;
}
#regions_elms_navigation_left .regions_3 {
  background-image:url(images/sidebarbgbtm.png);
  background-repeat:repeat-y;
}
#regions_elms_navigation_left li, #regions_elms_navigation_left a, #regions_elms_navigation_left .regions_block_title {
  background-position:right;
  background-repeat:no-repeat;
}
#regions_elms_navigation_left .page_view {
  background-image:url(images/view.png);
}
#regions_elms_navigation_left .page_edit {
  background-image:url(images/edit.png);
}
#regions_elms_navigation_left .page_accessibility {
  background-image:url(images/accessibility.png);
}
#regions_elms_navigation_left .page_track {
  background-image:url(images/track.png);
}
#regions_elms_navigation_left .content_outline {
  background-image:url(images/outline.png);
}
#regions_elms_navigation_left .public_home {
  background-image:url(images/publichome.png);
}
#regions_elms_navigation_left .admin_settings {
  background-image:url(images/admin.png);
}
#regions_elms_navigation_left .system {
  background-image:url(images/system.png);
}
#regions_elms_navigation_left .export_html {
  background-image:url(images/export.png);
}
#regions_elms_navigation_left .new_course_version {
  background-image:url(images/newversion.png);
}
#regions_elms_navigation_left .new_course {
  background-image:url(images/newcourse.png);	
}
#regions_block_elms_navigation_left_0 .regions_block_title {
  background-image:url(images/system.png);
}
#regions_block_elms_navigation_left_1 .regions_block_title {
  background-image:url(images/course.png);
}
#regions_block_elms_navigation_left_2 .regions_block_title {
  background-image:url(images/page.png);
}

#regions_elms_navigation_left .workflow_state {
  height: 20px;
  line-height:20px;
}
#regions_elms_navigation_left #masquerade-block-1 {
 margin-top:10px;	
}
.workflow_state_3 { /*development*/
  background-color:#C66;
}
.workflow_state_4 { /*staging*/
  background-color:#c0e6ff;
}
.workflow_state_5 { /*active*/
  background-color:#356090;
}
.workflow_state_6 { /*archive*/
  background-color:#e6e6d4;
}
.workflow_state_7 { /*demo*/
  background-color:#327944;
}

/* open / close block display */
#regions_elms_navigation_left .regions_toggle_open {
 background-image: url('images/open.png');
}
#regions_elms_navigation_left .regions_toggle_closed {
 background-image: url('images/close.png');
}