/* right side blocks */
body {
 margin-top: 20px !important;	
}
#regions_elms_nav_top {
  font:normal 11px "Lucida Grande",Verdana,sans-serif !important;
  background-color:#009;
  background:url(images/sprite.png) 0px -20px repeat-x;
  top:0px;
  left:0px;
  right:0px;
  height:20px;
  width: 100%;
  z-index:100;
  float:left;
  position:fixed;
  padding:0px;
  margin:0px;
  color:#ccc;
  line-height:20px;
}

#regions_elms_nav_top .regions_1 {
  float:left;
  padding:0px 10px;
}
#regions_elms_nav_top .regions_1 .leaf {
  list-style-image:none;
  list-style-position:inside;
  list-style-type:none;
  border-right:2px #666 solid;
  display:inline;
  margin:0px;
  padding:0px;
}

#regions_block_elms_nav_top_2 {
  float:right;
  line-height:20px;
  width:100px;
}
#regions_block_elms_nav_top_2 .regions_block_title {
 cursor:pointer;
 text-align:right;
}
#regions_block_elms_nav_top_2 .regions_block_title span {
 padding:0px 10px;
}
#regions_block_elms_nav_top_2 .regions_block_title a {
 padding:0px 10px;
}
#regions_block_elms_nav_top_2 .regions_block_content{
  display:none;
}
#regions_block_elms_nav_top_2 ul.menu {
  background-color:#555;
  padding:0px;
  margin:0px;
}
#regions_block_elms_nav_top_2 ul.menu li{
  list-style-image:none;
  list-style-type:none;
  list-style-position:inside;
  padding:5px;
  width:100%;
}
#regions_block_elms_nav_top_2 ul.menu li:hover{
  background-color:#777;
}

#regions_elms_nav_top .regions_3 {
  float:right;
  padding:0px 10px;
}

/**
 * Aggressive resets so we can achieve a consistent look in
 * hostile CSS environments.
 */
#regions_elms_nav_top,
#regions_elms_nav_top * {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:100%;
  vertical-align:top;
  line-height:20px;
  text-align:left;
}

#regions_elms_nav_top div.regions_post_block_container {
  position:fixed;
  left:0px;
  right:0px;
  top:20px;
  height:10px;
  background:url(images/sprite.png) 0px -100px repeat-x;
}

#regions_elms_nav_top a {
  text-decoration:none;
  color:#fff;
}

#regions_elms_nav_top ul.links {
  font: 11px/20px "Lucida Grande", Verdana, sans-serif;
}

#regions_elms_nav_top li:hover {
 background-color:#666;
}

#regions_elms_nav_top li a.active {
  text-shadow:#333 0px 1px 0px;
  background:url(images/sprite.png) 0px 0px repeat-x;
}