/* left side blocks */
#regions_elms_nav_left {
  background-color:#FFD;
  width:200px;
  top:0px;
  bottom:0px;
  z-index:100;
  left:-200px;
  float:left;
  position:fixed;
  padding:0px;
  margin:0px;
  text-align:left;
  font-size:12px;
}
#regions_elms_nav_left .regions_pre_block_container {
 position:fixed;
 margin:200px 0px 0px 170px;
 height: 20px;
 width: 80px;
 display:block;
 float:right;
 padding:5px;
 cursor:pointer;
 background-color:#F00;
}
#regions_elms_nav_left li {
  list-style-type: none;
  list-style-image: none;
  padding: 2px 0px 2px 10px;
}
#regions_elms_nav_left li:hover {
  background-color:#FC6;
}
#regions_elms_nav_left li a {
  color:#666;
  text-decoration:none;
}
#regions_elms_nav_left .regions_block_title {
  font-size:16px;
  font-weight:bold;
  text-align:left;
}
/* colors for the blocks on the left */
#regions_elms_nav_left .regions_1 {
  background-color:#FFC;
  margin-top:100px;
}
#regions_elms_nav_left .regions_2 {
  background-color:#FFB;
}
#regions_elms_nav_left .regions_3 {
  background-color:#FFA;
}
#regions_elms_nav_left .workflow_state {
  height: 20px;
  float: left;
  position: absolute;
  top: 20px;
  width: 200px;
  text-align: center;
}
#regions_elms_nav_left #masquerade-block-1 {
 margin-top:10px;	
}
.workflow_state_3 { /*development*/
  background-color:#ac3000;
}
.workflow_state_4 { /*staging*/
  background-color:#c0e6ff;
}
.workflow_state_5 { /*active*/
  background-color:#356090;
}
.workflow_state_6 { /*archive*/
  background-color:#e6e6d4;
}
.workflow_state_7 { /*demo*/
  background-color:#327944;
}