/* left side blocks */
#regions_elms_nav_left {
  background-color:#FFC;
  width:200px;
  top:0px;
  bottom:0px;
  z-index:100;
  left:-200px;
  float:left;
  position:fixed;
  padding:0px;
  margin:0px;
}
#regions_elms_nav_left .regions_block_title {
  padding:5px;
  margin:200px 0px 0px 170px;
  -o-transform:  rotate(90deg); /* opera specific */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* ie */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  display:block;
  height: 20px;
  width: 80px;
  float:right;
  cursor:pointer;
  position:fixed;
  font-size:14px;
}
#regions_elms_nav_left .regions_block_content {
  padding:40px 0px 0px 0px;
  margin:0px;
  width:100%;
  top:0px;
  bottom:0px;
  position:absolute;
  z-index:101;
}
/* colors for the blocks on the left */
#regions_elms_nav_left .regions_1 .regions_block_title {
  margin-top:150px;
}
#regions_elms_nav_left .regions_2 .regions_block_title {
  margin-top:240px;
}
#regions_elms_nav_left .regions_3 .regions_block_title {
  margin-top:330px;
}
/* colors for the blocks on the left */
#regions_elms_nav_left .regions_1 div {
  background-color:#FFC;
}
#regions_elms_nav_left .regions_2 div {
  background-color:#FFC;
}
#regions_elms_nav_left .regions_3 div {
  background-color:#FFC;
}