/* right side blocks */
body {
 margin-top: 20px !important;    
}
#regions_elms_navigation_top {
  font:normal 11px "Lucida Grande",Verdana,sans-serif !important;
  background-color:#000;
  background:url(images/sprite.png) 0px -20px repeat-x;
  top:0px;
  left:0px;
  right:0px;
  height:20px;
  width: 100%;
  z-index:1000;
  float:left;
  position:fixed;
  padding:0px;
  margin:0px;
  color:#ccc;
  line-height:20px;
}

#regions_block_elms_navigation_top_0 .regions_block_content {
 height:20px;    
}

#regions_block_elms_navigation_top_0 {
  float:left;
  height:20px;
}

#regions_block_elms_navigation_top_2 {
  float:right;
  line-height:20px;
  width:100px;
}

#regions_block_elms_navigation_top_2 .regions_block_title {
 cursor:pointer;
 text-align:right;
}
#regions_block_elms_navigation_top_2 .regions_block_title span {
 padding:0px 10px;
}
#regions_block_elms_navigation_top_2 .regions_block_title a {
 padding:0px 10px;
}
#regions_block_elms_navigation_top_2 .regions_block_content {
  display:none;
}
#regions_block_elms_navigation_top_2 ul.menu {
  background-color:#555;
  padding:0px;
  margin:0px;
}
#regions_block_elms_navigation_top_2 ul.menu li{
  list-style-image:none;
  list-style-type:none;
  list-style-position:inside;
  padding:0px;
  width:100%;
  clear: both;
  height: 30px;
  border-bottom: 1px solid #444;
}
#regions_block_elms_navigation_top_2 ul.menu li:hover{
  background-color:#666;
}

#regions_block_elms_navigation_top_1 {
  float:right;
  padding:0px 10px;
}

/**
 * Aggressive resets so we can achieve a consistent look in
 * hostile CSS environments.
 */
#regions_elms_navigation_top,
#regions_elms_navigation_top * {
  margin:0px;
  padding:0px;
  outline:0px;
  font-size:100%;
  vertical-align:top;
  line-height:20px;
  text-align:left;
  color:#ccc;
}

#regions_elms_navigation_top div.regions_post_block_container {
  position:fixed;
  left:0px;
  right:0px;
  top:20px;
  height:10px;
  background:url(images/sprite.png) 0px -100px repeat-x;
}

#regions_elms_navigation_top a {
  text-decoration:none;
  color:#ccc !important;
  clear: both;
  float: left;
  height: 20px;
  padding: 0px;
}

#regions_elms_navigation_top ul.links {
  font: 11px/20px "Lucida Grande", Verdana, sans-serif;
}

#regions_elms_navigation_top li {
 list-style-image:none;
 list-style-type:none;
 list-style-position:inside;
}
#regions_block_elms_navigation_top_1 li a{
 padding:0px;
}

#regions_elms_navigation_top a:hover {
 background-color:#666;
}

#regions_elms_navigation_top li a.active {
  text-shadow:#333 0px 1px 0px;
}
#regions_block_elms_navigation_top_0 li a.active {
background-color:#666;	
}

#regions_block_elms_navigation_top_3 {
  float:right;
  margin-left:20px;
  line-height:20px;
  height:20px;
}

#regions_block_elms_navigation_top_3 li {
  list-style-image:none;
  list-style-position:inside;
  list-style-type:none;
  display:inline;
  margin:0px;
  padding:0px 0px;
  height:20px;
  width:20px;
  float:left;
  background-position:right;
  background-repeat:no-repeat;
}
#regions_block_elms_navigation_top_3 a {
  width:20px;
  height:20px;
}

/* icons for the top items */
#regions_block_elms_navigation_top_3 .elms_zoom_in {
  background-image:url(images/zoomin.png);	
}
#regions_block_elms_navigation_top_3 .elms_zoom_out {
  background-image:url(images/zoomout.png);	
}
#regions_block_elms_navigation_top_3 .elms_zoom_reset {
  background-image:url(images/zoomreset.png);	
}
#regions_block_elms_navigation_top_3 .elms_next_page {
  background-image:url(images/nextpage.png);	
}
#regions_block_elms_navigation_top_3 .elms_prev_page {
  background-image:url(images/prevpage.png);	
}
#regions_block_elms_navigation_top_3 .elms_print_page {
  background-image:url(images/print.png);	
}
#regions_block_elms_navigation_top_3 .elms_book_toc {
  background-image:url(images/table_of_contents.png);	
}
#regions_block_elms_navigation_top_3 .elms_reactions {
  background-image:url(images/reactions.png);
}
#regions_block_elms_navigation_top_3 .elms_helpdesk {
  background-image:url(images/helpdesk.png);
}
#regions_block_elms_navigation_top_3 .flag-bookmarks {
  background-image:url(images/bookmark.png);
}
/* always hide the flag state change message when in the top bar */
#regions_block_elms_navigation_top_3 .flag-message {
 display:none !important;	
}
#regions_block_elms_navigation_top_3 a:hover {
 background-color:transparent;
}
#regions_block_elms_navigation_top_3 li:hover {
 background-color:#666;
}
#regions_block_elms_navigation_top_0 a {
  height:20px;
  float:left;
  padding:0px 10px;
  border-right:2px #666 solid;
}

#regions_block_elms_navigation_top_0 li {
  list-style-image:none;
  list-style-position:inside;
  list-style-type:none;
  display:inline;
  margin:0px;
  height:20px;
  float:left;
}

#regions_block_elms_navigation_top_2 a {
 padding:5px;
 width:100%;
}

/* notifications area */
#regions_block_elms_navigation_top_1 {
  float:right;
  line-height:20px;
}
#regions_block_elms_navigation_top_1 .regions_block_title {
  border-left:solid 1px #666;
  border-right:solid 1px #666;
  float:right;
  cursor:pointer;
}
#regions_block_elms_navigation_top_1 .regions_block_title:hover {
  background-color:#666;
}
.elms_nav_top_open {
  background-color:#666;
}
#regions_block_elms_navigation_top_1 .regions_block_content {
  display:none;
  width:200px;
  top:20px;
  border-left:solid 2px #444;
  border-right:solid 1px #444;
  background-color:#555;
  z-index:1000;
  position:fixed;
  right:100px;
}
.elms_nav_top_row {
  border-bottom:solid 1px #444;
  width:100%;
  height:50px;
  float:left;
  padding:2px;
}
#regions_elms_navigation_top .elms_nav_top_icon {
  float:left;
  padding-top:10px;
}
#regions_elms_navigation_top .elms_nav_top_arrow {
  float:right;
  vertical-align:middle;
  padding:2px;
}

#regions_elms_navigation_top .elms_nav_top_msg {
  padding-left:5px;
  float:left;
}

#regions_elms_navigation_top .elms_nav_top_msg_title{
  font-weight: bold;
  font-size: 12px;
  color: white;
}

#regions_elms_navigation_top .elms_nav_top_msg_text{
  font-size: 10px;
  line-height:10px;
}